<div class="row">
  {{#each model as |item|}}
    <div class="col-md-4">
      <div class="item-image">
        <h4>{{item.name}}</h4>
        {{#link-to 'product' item.id}}<img class="img-responsive" src="{{item.image}}">{{/link-to}}
      </div>
      <div class="item-description">
        <p>
          {{item.description}}
        </p>
        <p>
          ${{item.price}}
        </p>
      </div>
    </div>
    {{else}}
    Not found
  {{/each}}
</div>
